html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
  font-family: "Mulish", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
